* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
      font-size: 15pt;
      width: 40vh;
      height: 50vh;
      background-color: rebeccapurple;
  }
  
  h4 {
    margin: 30px 0 40px 0;
    font-family: sans-serif;
    text-align: center;
  }
  
  .span {
    color: red;
  }
  
  .container {
    display: flex;
    align-items: center;
    position: relative;
    margin: 50px 0 0 10px;
    padding-top: 20px;
    height: 400px;
    width: 340px;
    background-color: white;
    border-radius: 30px;
    flex-direction: column
  }
  
  .container > button {
    align-items: center;
  }
  
  button {
    color: white;
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    height: 2.5em;
    width: 3em;
    margin: 8px;
    border-radius: 15%;
    background-color: #ff4545;
    outline: none;
    border: 1px solid mediumpurple;
  }
  
  button:nth-child(1){
    margin-right: 70px;
  }
  
  button:nth-child(2){
    margin-left: -70px;
  }
  
  button:nth-child(3){
    margin-right: 70px;
  }
  
  #btn3 {
    background-color: purple;
    color: yellow;
    display: none;
  }
  
  .heart {
    position: fixed;
    top: -10px;
    font-size: 20px;
    animation: rainingHeart 3s linear forwards;
  }
  
  .picture {
    margin: 20px 0 0 0;
    border: solid black 2px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 250px;
    width: 250px;
    display: none;
    animation: fade 2.5s ease-in;
  }

  #cat1 {
    width: 145px;
    height: 150px;
    border: none;
    float: left;
   
  }
  
  #cat2 {
    width: 145px;
    height: 150px;
    border: none;
  }
  
  @keyframes rainingHeart {
    to{
      transform: translateY(105vh)
    }
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
